# This is the scope based resolution for private npm packages hosted in GCP
# GCP artifact registry is: https://us-central1-npm.pkg.dev/pch-main/pch-npm-private/
#

@pch-private:registry=https://us-central1-npm.pkg.dev/pch-main/pch-npm-private/
//us-central1-npm.pkg.dev/pch-main/pch-npm-private/:always-auth=true